<div class="flex justify-center items-start pt-5">
    <app-profile class="sticky top-0 pr-5"></app-profile>
    <div class="mr-60 border border-color max-w-3xl rounded-2xl p-4 flex flex-col items-center gap-2 background-color">
        <h2>About</h2>
        <p>
            I am a determined and motivated software enthusiast with a passion for continuous learning and growth.
            My experience includes team leadership, critical thinking, and problem-solving gained through coursework
            and collaborative projects. Proficient in core algorithms, data structures, and design patterns, I am eager
            to contribute my skills and knowledge to advance in software development. I am excited about the
            opportunities that lie ahead in my career.
        </p>
        <app-project></app-project>
    </div>
</div>
<router-outlet />
