<div class="border border-color rounded-2xl p-4 flex flex-col items-center background-color">
    <div class="items-center flex flex-col">
        <img src="./assets/blank_profile.webp" alt="Me" class="w-20 rounded-full">
        <h1 class="font-bold">Mindaugas Kulinas</h1>
        <h2>Software Engineer</h2>
    </div>
    <a class="flex flex-row items-center justify-center mb-4"
       href="https://github.com/Gigisme"
       rel="noopener noreferrer"
       target="_blank">
        <img alt="" src="./assets/github-mark.svg" class="w-16">
        <h2 class="pl-6 font-bold text-xl">Github</h2>
    </a>
    <a class="flex-row flex items-center justify-center mb-4"
       href="https://www.linkedin.com/in/mindaugas-kulinas/"
       rel="noopener noreferrer"
       target="_blank">
        <img alt="" src="./assets/LI-In-Bug.png" class="ml-5 w-16">
        <h2 class="pl-6 font-bold text-xl">LinkedIn</h2>
    </a>
    <div class="flex flex-col items-center">
        <h1 class="font-bold">Contacts</h1>
        <div class="flex flex-row gap-2">
            <span class="material-icons">mail</span>
            <p>kulinasmindaugas&#64;gmail.com</p>
        </div>
        <div class="flex flex-row gap-2">
            <span class="material-icons">phone</span>
            <p>+37063243296</p>
        </div>
    </div>
</div>
